<div class="page-header">
  <h1>Sign In</h1>
</div>
<div class="row">
  <div class="span12">
    <%= form_tag sessions_url do %>
      <div class="form-field">
        <%= label_tag :email %>
        <%= email_field_tag :email %>
      </div>
      <div class="form-field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <div class="form-field">
        <%= submit_tag "Sign In", class: "form-submit" %>
      </div>
    <% end %>
  </div>
</div>