<div class="page-header">
  <h1>Photo Feed</h1>
</div>
<div class="masonry">
  <% @uploads.each do |upload| %>
    <div class="item feed-item">
      <%= image_tag "placeholder.png", data: { original: upload.image.url(:medium) }, class: "lazy" %>
      <p class="feed-item-upload-info">
        Uploaded <%= time_ago_in_words(upload.created_at) %> ago by <%= link_to upload.user.full_name, user_url(upload.user.url_path) %>
      </p>
      <p class="feed-item-description"><%= upload.description %></p>
      <% upload.tags.each do |tag| %>
        <%= link_to tag.name, tag_url(tag.name), class: "feed-item-tag" %>
      <% end %>
    </div>
  <% end %>
</div>