<!DOCTYPE html>
<html>
<head>
  <title>Moment</title>
  <link href='http://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main-header">
    <div class="container">
      <a class="logo" href="/">Moment</a>
      <nav class="main-nav">
        <% if signed_in? %>
          <%= link_to "Upload Photo", new_upload_url, class: "purple-background main-header-link" %>
          <%= link_to "View Profile", user_url(current_user.url_path), class: "green-background main-header-link" %>
          <%= link_to "Sign Out", session_url, method: :delete, class: "red-background main-header-link" %>
        <% else %>
          <%= link_to "Create Account", new_user_url, class: "purple-background main-header-link" %>
          <%= link_to "Sign In", new_session_url, class: "green-background main-header-link" %>
        <% end %>
      </div>
    </nav>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
</body>
</html>

