<div class="page-header">
  <h1><%= @user.full_name %></h1>
</div>
<div class="row">
  <div class="span12">
    <p class="profile-bio"><%= @user.bio %></p>
    <div class="user-uploads masonry">
      <% @user.uploads.recent.each do |upload| %>
        <div class="item feed-item">
          <%= image_tag "placeholder.png", data: { original: upload.image.url(:medium) }, class: "lazy" %>
          <p class="feed-item-description">
            <% if upload.city.present? %>
              <span class="entypo-location feed-item-description-location"><%= upload.city %>, <%= upload.state_code %></span> -
            <% end %>
            <%= upload.description %>
          </p>
          <% upload.tags.each do |tag| %>
            <%= link_to tag.name, tag_url(tag.name), class: "feed-item-tag" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>